* {
	text-align: center;
}

h1 {
  font-size: 35px;
}

button {
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

/*table styling*/
table {
	font-size: 40px;
	margin-left:  auto;
	margin-right: auto;
	padding: 10px;
}

th {
	height: 100px;
}
table, th, td {
	border:  1px solid white;
	border-collaps: collapse;
}
th, td {
	text-align: center;
	padding: 15px;
	background-color: #96d4d4;
}

.clockContainer {
	height: 200px;
	width: 100%;
	padding-top: 40px;
}

.timer {
	font-size: 60px;
	padding:  20px;
}

#myTime {
	font-size: 65px;
}

.circle {
	display: inline-flex;
	border: 2px solid #96d4d4;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	align-items: center;
}

#display{
	width: 100%;
	font-size:  72px;
	text-align: center;
	margin:  0px auto;
}