* {
	color: green;
	text-align: center;
}

h1 {
  font-size: 48px;
}

button {
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

.container {
	height: 300px;
	width: 100%;
}
.timer {
	font-size: 60px;
	padding:  20px;
}

#myTime {
	font-size: 65px;
}

.circle {
	display: inline-flex;
	border: 2px solid blue;
	border-radius: 50%;
	height: 270px;
	width: 270px;
	align-items: center;
}

#display{
	width: 100%;
	font-size:  72px;
	text-align: center;
	margin:  0px auto;
}