.clockContainer {
	display: flex;
	height: 200px;
	width: 100%;
	padding-top: 40px;
	justify-content: center;
}

.timer {
	font-size: 60px;
	padding:  20px;
}
.timerButtons {
	text-align: center;
}

.timerButtons > button {
  	background: transparent;
  	padding: 0;
 	border: none;
  	margin: 0;
 	outline: none;
}